<h1 class="text-xl">ffmpeg... on... Ice!</h1>
<%= image_tag("/images/ffmpegOnIce.png", width: '500') %>

<%= render 'form', video: @video %>

<%= link_to 'Inspired by and taken from ffmpeg Art School', "https://amiaopensource.github.io/ffmpeg-artschool/" %>